<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Budget App</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link href="https://fonts.googleapis.com/css?family=Muli:900|Roboto:400,500,700" rel="stylesheet">
  
  
      <link rel="stylesheet" href="./style.css">

  
</head>

<body>

  <div id="app" :class="{ 'modal-active': modalActive }">
  <div class="budget">
    <h2 class="marketing">CryptoCannabis DApp Strain GeneSeeder</h2>
    
    <div>
      <form class="budget__budget-input">
        <h2>Enter Total GeneSeeds Here</h2>
        <input @input="formatAmount($event)" type="number" v-model="budgetAmount" placeholder="Total GeneSeed Amount">
        <button @click.prevent="createBudget">Compile GeneSeed</button><br>
<br>
        <button @click.prevent="">Grow Strain</button>
      </form>

      <form class="budget__expense-input">
        <h2>{{ expenseTitle }} Gene</h2>
        <input type="text" v-model="expenseName" required placeholder="GeneSeed Type">
        <input type="number" v-model="expenseAmount" required placeholder="GeneSeed Amount">
        <button @click.prevent="onExpenseSubmit">{{ expenseSubmit }} To Fulfill</button>
      </form>
    </div>
    
    <div class="budget__details">
      <div class="budget__item">
        <h2 class="budget__item-amount">{{ displayedBudget }}%</h2>
        <span class="budget__item-label">Total GeneSeed</span>
      </div>
      
      <div class="budget__item">
        <h2 class="budget__item-amount">{{ expenses }}%</h2>
        <span class="budget__item-label">Fulfilled GeneSeed</span>
      </div>
      
      <div class="budget__item">
        <h2 class="budget__item-amount">{{ balance }}%</h2>
        <span class="budget__item-label">Amount Left Needed To Gene</span>
      </div>
      
      <div class="budget__transactions">
        <h1>GeneSeed Pool</h1>
        <table>
          <thead>
            <th>GeneSeed Type</th>
            <th>Amount</th>
            <th>Edit</th>
            <th>Delete</th>
          </thead>
          <tbody>
            <tr v-for="(trans, i) in transactions">
              <td>{{ trans.name }}</td>
              <td>{{ parseFloat(trans.amount).toFixed(2) }}</td>
              <td>
                <a href="#" @click="editTransaction(i)"><i class="fas fa-pen"></i></a>
              </td>
              <td>
                <a href="#" @click="openDeleteModal(i)"><i class="fas fa-trash-alt"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div v-if="modalActive" class="delete__modal">
    <p>Are you sure you want to delete this gene pool?</p>
    <div class="delete__modal-buttons">
      <button @click="deleteTransaction">OK</button>
      <button @click="closeDeleteModal">Cancel</button>
    </div>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js'></script>

  

    <script  src="./script.js"></script>




</body>

</html>
